<html>
<h1>{{.user}}</h1>

<head>
    <script>
        var urlId = 2;

        function save() {
            urlname = document.getElementById("label1");
            url = document.getElementById("url1");
            json = {
                urlname: url
            };
            for (i = urlId; i > 0; i--) {
                urlname = document.getElementById('label' + i);
                url = document.getElementById('url' + i);
                json[urlname] = url;
            }
            console.log(json)
            // call the api to store the data
            var apiurl = '{{.user}}'
            fetch(apiurl, {
                method: 'POST', // or 'PUT'
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(json),
            })
                .then((response) => response.json())
                .catch((error) => {
                    console.error('Error:', error);
                });
        }
        function add() {
            urlId++;
            var newUrlInput = '<tr><td><input type="text" id="label' + urlId + '" placeholder="Enter NAME"></td><td><input type="text" id="url' + urlId + '" placeholder="Enter URL"></td></tr>';
            document.getElementById("wrapper").innerHTML += newUrlInput;
        }
    </script>
</head>

<body>
    <h1 style="color: rgb(128, 128, 128);font-size: 50px;text-align: center;">ENTER LINKS</h1>
    <div id="wrapperdiv"
        style="position: absolute;top: 50%;left: 50%;margin: -100px 0 0 -150px;width: 500px;height: 300px;">
        <table id="wrapper">
            <tr>
                <td>
                    <input type="text" id="label1" placeholder="Enter NAME">
                </td>
                <td>
                    <input type="url" id="url1" placeholder="Enter URL">
                </td>
            </tr>
        </table>
    </div>
    <div style="position: absolute;top: 30%;left: 50%;margin: -100px 0 0 -150px;width: 500px;height: 300px;">
        <input type="button" onclick="save()" value="SAVE"><input type="button" onclick="add()" value="ADD">
    </div>

</body>

</html>