<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:8000/assets/css/test.css">
    <script type="text/javascript" src="http://localhost:8000/assets/js/test.js"></script>
</head>

<body>
    <h1 style="text-transform: uppercase;">{{.user}}</h1>
    <div>
        <input type="button" name="add" id="addbutton" value="+ URL" onclick="addRow()">
        <input type="button" name="save" id="savebutton" value="  SAVE  " onclick="save()">
    </div>
    <br>

    <div id="inputs"></div>
    <div><a href="http://localhost:8000/cumul/{{.user}}" target="_blank">See Your Home</a></div>

    <script>
        window.onload = function () {
            loadSavedURLs();
            checkUserSession();
        }
    </script>
</body>

</html>