<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:8000/assets/css/test.css">
    <script type="text/javascript" src="http://localhost:8000/assets/js/test.js"></script>
</head>

<body>
    <h1>{{.user}}</h1>
    <p style="color: aliceblue;">
        No URL stored
    </p>
    <div>
        <a href="http://localhost:8000/render/cumul/user/register">Login to save URLs</a>
    </div>
</body>

</html>