<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="test.css">
    <script type="text/javascript" src="test.js"></script>
</head>

<body>
    <h1>CUMUL</h1>
    <p style="color: aliceblue;">Just One Link For All</p>
    <div id="useriddiv">
        <input type="text" name="userid" id="userid" placeholder="UserID" oninput="validateUser()">
    </div>
    <div style="height: 25px;">
        <p id="warning" style="size: 5px;"></p>
    </div>
    <div id="buttondiv">
        <input type="button" id="signinbutton" value="Sign In" onclick="signInButton()">
        <input type="button" id="signupbutton" value="Sign Up" onclick="signUpButton()">
    </div>
</body>

</html>